<agm-map [fitBounds]="true" [latitude]="40.7128" [longitude]="74.0060">
  <agm-marker [agmFitBounds]="true" [label]="{ color: '#FF9800', fontWeight: 'bold', text:getLabel(retailer)}" *ngFor="let retailer of filteredRetailers"
    [latitude]="retailer.latitude" [iconUrl]="{ url: './assets/img/pharmacy.png', scaledSize: { width: 40, height: 40, rotation: 0,anchor : {x:19, y:19}},labelOrigin:{x:20,y:50}}"
    [longitude]="retailer.longitude" [openInfoWindow]="true">
    <agm-info-window>
      <p><b>{{retailer?.retailerName}}</b></p>
      <p>{{retailer?.address}}</p>
      <p>{{retailer?.zipcode}}</p>
    </agm-info-window>
  </agm-marker>
</agm-map>
