<form [style.fontSize.px]="'12px'" class="example-form">
  <mat-grid-list cols="12">
    <mat-grid-tile [colspan]="8">
      <mat-form-field appearance="fill" style="margin-right:10px;width:100%">
        <mat-label>Drug</mat-label>
        <mat-icon style="font-weight:bold;color: orangered;" aria-hidden="false" aria-label="Example home icon"
          matPrefix>search</mat-icon>
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" svgIcon="medical_drug_pill" matPrefix></mat-icon> -->
        <input matInput aria-label="Drug" name="drugkey" (keyup)="onDrugNameChange()" [matAutocomplete]="auto"
          [(ngModel)]="drugNameSearchKey">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onDrugSelect($event)" [displayWith]="getDisplayName">
          <mat-option *ngFor="let drug of filteredDrugs" [value]="drug">
            <span>{{drug?.drugName}}</span> |
            <small>{{drug?.description}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4">
      <mat-form-field appearance="fill" style="width:100%">
        <mat-label>Zipcode</mat-label>
        <mat-icon style="font-weight:bold;color: red;" aria-hidden="false" aria-label="Example home icon" matPrefix>location_on</mat-icon>
        <input matInput name="zipcodeField" (keyup)="getDrugLocations()" [(ngModel)]="zipcode">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>
<button type="button" style="margin-bottom: 15px" mat-raised-button mat-button *ngIf="filteredRetailers.length>0"
  (click)="drawer.toggle()">
  <mat-icon style="font-weight:bold;" color="primary" aria-hidden="false" aria-label="Example home icon" matPrefix>filter_list</mat-icon>
  Show generic options
</button>
<div fxLayout="row">
  <div fxFlex="100%">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <form class="example-container" [style.fontSize.px]="'10px'">
          <div style="padding:10px">
            <p style="color:#F5B041;font-size: 16px;margin: 5px;font-weight: bold">FORMS</p>
            <mat-divider></mat-divider>
            <mat-radio-group name="selectedDrugTypeField" style="margin:10px;margin-bottom: 20px" aria-labelledby="example-radio-group-label"
              class="filter-radio-group" [(ngModel)]="selectedForm.type">
              <mat-radio-button (change)="onFormChange(form)" [disableRipple]="true" class="example-radio-button"
                *ngFor="let form of formsList" [value]="form">
                <span style="text-transform:capitalize">{{form}}</span>
              </mat-radio-button>
            </mat-radio-group>
            <p style="color:#F5B041;font-size: 16px;margin: 5px;font-weight: bold">STRENGTHS</p>
            <mat-divider></mat-divider>
            <mat-radio-group name="selectedDrugStrengthField" style="margin:10px;margin-bottom: 20px" aria-labelledby="example-radio-group-label"
              class="filter-radio-group" [(ngModel)]="selectedForm.strength">
              <mat-radio-button (change)="onStrengthChange(strength)" [disableRipple]="true" class="example-radio-button"
                *ngFor="let strength of strengthsList" [value]="strength">
                <span>{{strength}}</span>
              </mat-radio-button>
            </mat-radio-group>
            <p style="color:#F5B041;font-size: 16px;margin: 5px;font-weight: bold">QUANTITIES</p>
            <mat-divider></mat-divider>
            <mat-radio-group name="selectedDrugQuantityField" style="margin:10px;margin-bottom: 20px" aria-labelledby="example-radio-group-label"
              class="filter-radio-group" [(ngModel)]="selectedForm.quantity">
              <mat-radio-button (change)="onQuantityChange(quantity)" [disableRipple]="true" class="example-radio-button"
                *ngFor="let quantity of quantitiesList" [value]="quantity">
                <span>{{quantity}}</span>
              </mat-radio-button>
            </mat-radio-group>
            <button type="button" (click)="filterByGenericOptions()" mat-raised-button mat-button color="primary">Search</button>
          </div>
        </form>
      </mat-drawer>

      <div class="example-sidenav-content">
        <drug-stores-view [filteredRetailers]="filteredRetailers" *ngIf="filteredRetailers.length>0"></drug-stores-view>
      </div>
    </mat-drawer-container>
  </div>
</div>
